.btn:hover{
  box-shadow: 0 0 8px rgb(65, 65, 65);
  font-size: 1.3rem;
  text-shadow: 0 0 5px black;
}
.social-container a i:hover{
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  background-clip: text;
  color: transparent;
  transform: scale(1.3);
}
.nav-bar ul li a:hover,
.nav-bar ul li .active{
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  background-clip: text;
  color: transparent;
  font-size: 1.2rem;
}