@import url(./strap.css);
@import url(./hover.css);

.wrapper{
  width: 100vw;
  min-height:400vh;
  box-sizing: border-box;
  background: rgb(229, 222, 222);
}
/* ===========================================Ist section==================================================== */
/* header */
.ist-section{
  width: 90vw;
  height: 95vh;
  margin: auto;
  flex-direction: column;
}
.ist-section-header{
  height: 12vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: black;
}
.logo-part h1{
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
  width: 30vw;
}
.nav-bar ul{
  justify-content: space-between;
}
.nav-bar ul li{
  list-style: none;
}
.nav-bar ul li a{
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* main of ISt section */
.ist-section-main{
  height: 83vh;
  justify-content: space-between;
}
/* left side  */
.left-ist-side{
  width: 5%;
  height: 100%;
  flex-direction: column;
 justify-content: flex-end;
}
.social-container{
  height: 50%;
  flex-direction: column;
  align-items: center;
}
.social-container a{
  margin-bottom: 2vh;
  text-decoration: none;
}
.social-container a i{
  color: black;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.social-container span{
  height: 13vh;
  border: 2px solid black;
}

/* Mid side */
.left-mid-side{
  width: 90%;
  align-items: center;
  overflow: hidden;
}
.left-mid-side .pic-circle{
  width: 30vw;
  height: 50vh;
  border-radius: 50%;
  background-color: rgb(255, 194, 80);
  filter: blur(1);
  box-shadow: 0 0 10px 10px rgb(255, 194, 80);
}
.pic-circle .img-container{
align-items: center;
flex-direction: column;
position: relative;
z-index: 2;
height:66vh;
}
.img-container h1{
  font-size: 10rem;
  letter-spacing: 3vw;
  text-transform: uppercase;
  color: aliceblue;
  position: absolute;
  top: -9vw;
}
.img-container img{
  z-index: 3;
  filter: grayscale(100);

}
/* right side  */
.left-right-side{
  width: 5%;
  flex-direction: column;
  justify-content: flex-end;
}
.text-line{
  flex-direction: column;
  justify-content: flex-end;
  height: 40%;
  align-items: center;
}
.text-line h3{
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transform: rotate(90deg);
}
.left-right-side span{
  height: 13vh;
  width: 0px;
  border: 2px solid black;
  margin: 3vh 0;
}

/* ===========================================2nd section==================================================== */
.secound-section{
  width: 90vw;
  min-height: 40vh;
  margin: 3vw auto;
}
.side-bar{
  width: 10%;
}
.side-bar-text{
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.side-bar-text h3{
  position: absolute;
  top: 10vh;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transform: rotate(90deg);
}
.side-bar-text span{
  position: absolute;
  top: 18vh;
  height: 8vh;
  border: 2px solid black;
  margin-top: 4vh;
}
/* mid secound section */
.mid-secound{
  width: 40%;
  flex-direction: column;
  position: relative;
}
.mid-secound h1{
  position: absolute;
  top: 0;
  font-size: 2rem;
  text-transform: capitalize;
  padding-top: 2vw;
  padding-left: 1vw;
}
.mid-secound p{
  position: absolute;
  top: 10vh;
  padding-left: 1vw;
  color: rgb(108, 108, 108);
}
/* right secound section */
.right-side{
  width: 60%;
}
.right-side p{
  padding: 2vw;
  color: rgb(108, 108, 108);
}
.right-side p span{
  text-transform: capitalize;
  font-weight: 800;
  color: rgb(37, 37, 37);
}
/* ===========================================third section==================================================== */
.third-section{
  width: 90vw;
  min-height: 40vh;
  margin: 3vw auto;
}
.mid-secound h2{
  position: absolute;
  top: 2.5vw;
  font-size: 2rem;
  text-transform: capitalize;
  padding-top: 2vw;
  padding-left: 1vw;
}
.mid-secound .p-text{
  position: absolute;
  top: 8vw;
}
/* skills container */
.skills-container{
  justify-content: center;
}
.skills-container ul{
  display: grid;
  grid: 50px 50px 50px / 50px 50px 50px 50px 50px;
  gap: 2vw;
}
.skills-container ul li{
  list-style: none;
}
.skills-container ul li i{
  font-size: 2rem;
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  background-clip: text;
  color: transparent;
}
/* ===========================================fourth section==================================================== */
.works-container {
  margin-top: 2vw;
  display: grid;
  grid: auto auto auto / auto auto auto;

}
.works-container img{
  height: 12vw;
  width: 10vw;
}


